.title-page {
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  letter-spacing: 15px;
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  text-align: center
}

.container-login {
  background-image: linear-gradient(45deg, #129001a2, rgba(255, 157, 0, 0.808)), url(../images/wallpaper01.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;


}

main.container {
  background: white;
  max-width: 350px;
  min-height: 40vh;
  left: 50%;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  justify-content: center;
  position: fixed;
  top: 65%;
  transform: translate(-50%, -50%);
}

main h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

main h2:before {
  content: '';
  position: absolute;
  height: 4px;
  width: 25px;
  bottom: 3px;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #7ee22d, #4a00e0);
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
   position: relative;
}


form .input-field:first-child {
  margin-bottom: 1.5rem;
}

.input-field .underline::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}


.input-field input:focus ~ .underline:after {
  transform: scaleX(1);
}

.input-field input {
  outline: none;
  font-size: 0.9rem;
  color: rgb(0, 0, 0, 0.7);

}

.input-field input::placeholder {
  color: rgba(0, 0, 0, 0.5)
}

form button {
  margin-top: 2rem;
  padding: 0.4rem;
  background: linear-gradient(to left, #7fe647, #5e54e9);
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  transition: all 0.3s ease;
}

form button:hover {
  background: linear-gradient(to right, #7fe647, #5e54e9);
  letter-spacing: 0.5px;
}

form button:disabled {
  background: rgba(128, 128, 128, 0.541);
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.footer span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  text-align: center;
}

.footer .social-field {
  padding: 0.4rem;
  border-radius: 4px;
  font-size: 0.85rem;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
}

.footer .social-field a i {
  margin: 0 0.5rem;
  width: 15px;
}

.footer .social-field a {
  text-decoration: none;
  color: white;
}

.footer .social-field.twitter {
  background: linear-gradient(to right, #56a7f2, #468aca);
}

.footer .social-field.facebook {
  background: linear-gradient(to right, #1e3c72, #2a5298);
}