.category, .categoryDrink {
  top: 15%;
  display: flex;
  justify-content: space-around;
  scroll-padding: 10px;
  padding-right: 10px;
  gap: 3px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.category::-webkit-scrollbar, .categoryDrink::-webkit-scrollbar {
  display: none;
}

.category button, .categoryDrink button {
  background-color: rgba(124, 123, 123, 0.116);
  padding: 10px 15px;
  border-radius: 35px;
  color: #000000;
  border: none;
  white-space: nowrap;
  font-size: 15px;
  scroll-snap-align: start;
}

.category button:nth-child( 1 ) {
  margin-left: 150px;
}

.category button:hover, .categoryDrink button:hover {
  background-image: linear-gradient(45deg, #ff000071, rgba(255, 251, 0, 0.329));
  color: #ff0000d7;
  /* text-decoration: underline; */
}
/* 
.btnCategory {
  background-color: red;
} */

.categoryDrink button:nth-child( 1 ) {
  margin-left: 250px;
}