.explorar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #efefef;
}

.explorar button {
  padding: 20px 50px;
  width: 80%;
  border-radius: 10px;
  background-color: #ff0000ca;
  color: white;
  font-size: 20px;
  margin: 65px 0;
}

.explorarComidas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #efefef;
}

.explorarComidas button {
  padding: 20px 50px;
  width: 80%;
  border-radius: 10px;
  background-color: #ff0000ca;
  color: white;
  font-size: 20px;
  margin: 35px 0;
  white-space: nowrap;
}