.header {
  align-items: center;
  background-image: linear-gradient(45deg, rgba(255, 157, 0, 0.863), #e0d1009d);
  color: #000000;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.842);
  display: grid;
  grid-template: 1fr 2fr 1fr;
  grid-template-areas: 'title_container searchIcon'
    'searchBar searchBar';
  padding: 0.5rem 0;
  width: 100%;
}

.title_container {
  display: flex;
  grid-area: title_container;
  justify-content: space-between;
  margin-left: 1rem;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  margin-right: 2rem;
}

.profileIcon {
  margin-left: 1.6rem;
}

.searchIcon {
  grid-area: searchIcon;
  margin: auto;
  width: 40px;
}

.searchBar {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: searchBar;
  justify-content: center;
}
.inputBar {
  margin-top: 1rem;
  width: 70%;
  position: relative;
}

.inputBar .underline::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: rgba(255, 255, 255, 0);
}

.inputBar .underline::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(45deg, #ff0000ca,rgb(255, 157, 0));
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}


.inputBar input:focus ~ .underline:after {
  transform: scaleX(1);
}

.inputBar input {
  outline: none;
  font-size: 0.9rem;
  color: rgb(0, 0, 0, 0.7);
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px;
  height: 35px;
}

.inputBar input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}


.radios_container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
}

.radios_container label {
  align-items: center;
  display: flex;
  margin: 0;
  white-space: nowrap;
}

  .searchBar button {
  background-image: linear-gradient(90deg, #ff5e00be, #ffae00ed);
  /* border: none; */
  border-radius: 10px;
  padding: 8px 15px;
  width: 70%;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 500;
  border: 1px solid #efefef9f;
}

.searchBar button:active {
  background-color: #ff00009b;
  color: #efefef;
}

.searchBar input[type="radio"] {
  margin: 5px;

}