.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

<<<<<<< HEAD
.img-details {
  width: 250px;
}

.instructions {
  max-width: 100%;
}

.carrossel {
  height: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.card-recomendations {
  border: 1px solid black;
  display: inline-block;
  width: 200px;
}

.img-recomendations {
  max-height: 80%;
  max-width: 80%;
}

.card {
  max-width: 200px;
}


.start-recipe-btn {
  bottom: 0;
  left: 0;
  margin: 20px;
  position: fixed;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/
